In [1]:
import string 
import pandas as pd
import random
from faker import Faker

In [2]:
fake = Faker()

In [3]:
workbook = pd.ExcelFile('../Data/DBMS.xlsx')

In [4]:
workbook.sheet_names

['Umpire',
 'Violations',
 'Players',
 'Goals',
 'Contracts',
 'Managers',
 'Teams',
 'Coaches']

#Umpire
#Violations
#Players
Goals
Contracts
#Managers
#Teams
#Coaches

In [5]:
umpire = pd.read_excel(workbook, sheet_name='Umpire')
players = pd.read_excel(workbook, sheet_name='Players')
contracts = pd.read_excel(workbook, sheet_name='Contracts')
managers = pd.read_excel(workbook, sheet_name='Managers')
teams = pd.read_excel(workbook, sheet_name='Teams')
coaches = pd.read_excel(workbook, sheet_name='Coaches')

In [6]:
umpire.columns

Index(['LicenseNumber', 'First_Name', 'Last_Name'], dtype='object')

In [7]:
players.columns

Index(['LicenseNumber', 'P_Name', 'Assists', 'P_Status', 'Goals',
       'ShotPercent', 'Nationality', 'Age'],
      dtype='object')

## Team

In [8]:
coaches.head()

  LicenseID First_Name   Last_Name  Active  WinPercent
0  JJJG-922    Carmine        Urry    True       35.64
1  KMHC-427       Juan      Tabard   False       82.11
2  BQJG-863   Veronica        Akam    True       68.75
3  LYXZ-176     Claire  Saltmarshe   False       82.21
4  XZVF-748      Byran        Dall    True        0.00

In [9]:
managers.head()

  LicenseID First_Name   Last_Name  Active  WinPercent
0  JZJP-101      Milka     Lilburn   False        0.00
1  NVWZ-929  Llewellyn  MacCaffery    True       31.61
2  VELB-451     Babita     Thorsen    True        0.00
3  GOSC-513       Evan      Samper    True        8.63
4  AIRM-084   Claudina    Huntriss    True        7.09

In [10]:
teams.columns

Index(['UID', 'T_Name', 'NumPlayed', 'NumWon', 'Home', 'Manager', 'Coach'], dtype='object')

In [11]:
managerID = random.sample(managers[managers['Active'] == True]['LicenseID'].tolist(), len(teams))
teams['Manager'] = managerID

coachID = random.sample(coaches[coaches['Active'] == True]['LicenseID'].tolist(), len(teams))
teams['Coach'] = coachID

In [12]:
teams

,UID,T_Name,NumPlayed,NumWon,Home,Manager,Coach
0,TJ-663,Tempsoft,65,58,Agricultural University of Szczecin,UXWQ-236,DJNT-962
1,JG-818,Gembucket,67,50,Marquette University,GFRP-361,NAAJ-455
2,YT-531,Holdlamis,50,48,COSMIQ Institute of Technology,IZHQ-092,JJJG-922
3,KG-943,Bigtax,67,59,Instituto Universitario de La Paz,RJBZ-784,TBWM-740
4,FJ-273,Gembucket,64,45,Universidad de Córdoba,HETH-998,HTSR-062
5,PY-241,Bitwolf,76,62,Universidad de Valladolid,VELB-451,SEZD-480
6,NX-742,Mat Lam Tam,56,48,Universidad Popular del Cesar,VHIR-010,SQUB-386
7,FO-623,Tresom,71,49,Metropolitan State University,AIRM-084,IPPQ-325
8,ZK-987,Greenlam,65,45,Ferdowsi University of Mashhad,SSYW-096,RRQV-282
9,OF-955,Otcom,65,45,"Heythrop College, University of London",BPQK-308,IGWI-431
10,EZ-769,Stronghold,57,53,Hiram College,XZCY-912,BTXV-614
11,WI-704,Konklab,59,49,American University of Afghanistan,GOSC-513,JWNX-275
12,KW-724,Fix San,59,57,Atish Dipankar University,OBWP-363,BLHU-754
13,PN-497,Daltfresh,57,51,Université des Sciences et de la Technologie d...,UIJY-863,CVHA-420
14,YC-315,Span,54,37,Music Academy in Bydgoszcz,NVWZ-929,OJKP-141
15,YZ-552,Voyatouch,63,54,Islamic Azad University Qazvin,SGCJ-248,KVCQ-688
16,QL-031,Tresom,62,55,Technical University of Bialystok,KPUV-949,XIEA-809
17,RJ-217,Zontrax,77,49,New England Institute of Technology,NOLV-864,AWBO-247

## Player

In [13]:
players.columns

Index(['LicenseNumber', 'P_Name', 'Assists', 'P_Status', 'Goals',
       'ShotPercent', 'Nationality', 'Age'],
      dtype='object')

In [14]:
players.head()

,LicenseNumber,P_Name,Assists,P_Status,Goals,ShotPercent,Nationality,Age
0,287-EG0-894,Mufi Jaeggi,20,True,28,0.64,Israel,23
1,099-VZ2-928,Leonie Addyman,15,False,16,0.98,United States,22
2,537-OT1-130,Urson Scrine,32,True,22,0.59,Egypt,20
3,938-II7-279,Filberto Molian,21,True,10,0.85,Ireland,21
4,173-KS0-031,Donal Wyvill,27,False,39,0.07,Pakistan,21

In [15]:
teamID = random.choices(teams['UID'].tolist(), k = len(players))
players['Cur_Team'] = teamID

In [16]:
players.head()

,LicenseNumber,P_Name,Assists,P_Status,Goals,ShotPercent,Nationality,Age,Cur_Team
0,287-EG0-894,Mufi Jaeggi,20,True,28,0.64,Israel,23,KW-724
1,099-VZ2-928,Leonie Addyman,15,False,16,0.98,United States,22,WI-704
2,537-OT1-130,Urson Scrine,32,True,22,0.59,Egypt,20,PY-241
3,938-II7-279,Filberto Molian,21,True,10,0.85,Ireland,21,FJ-273
4,173-KS0-031,Donal Wyvill,27,False,39,0.07,Pakistan,21,WI-704

## Games

In [17]:
games = pd.DataFrame(columns = ['gameID', 'Date', 'Ump_License', 'WinningTeam', 'Team2', 'Field'])

for i in range(87):
    gid = ''.join(random.choice(string.digits) for i in range(2)) + '-' + ''.join(random.choice(string.ascii_uppercase) for i in range(4))
    date = fake.date_between(end_date='today', start_date='-3y')
    ump = random.choice(umpire['LicenseNumber'])
    [team1, team2] = random.choices(teams['UID'], k = 2)
    field = random.choice([teams[teams['UID'] == team1]['Home'].to_list()[0], teams[teams['UID'] == team2]['Home'].to_list()[0]])
    games.loc[len(games)] = [gid, date, ump, team1, team2, field]

In [18]:
games

,gameID,Date,Ump_License,WinningTeam,Team2,Field
0,43-EKEZ,2020-02-11,FH2Y-R826,PN-497,RJ-217,Université des Sciences et de la Technologie d...
1,84-VZOM,2022-04-10,DW1V-P808,RJ-217,JG-818,New England Institute of Technology
2,48-NAHG,2019-07-03,DW1V-P808,PY-241,KW-724,Universidad de Valladolid
3,94-JKIR,2020-03-14,FH2Y-R826,KW-724,ZK-987,Atish Dipankar University
4,02-XXOO,2020-06-14,UL2I-Q791,KG-943,KG-943,Instituto Universitario de La Paz
...,...,...,...,...,...,...
82,28-INOE,2019-06-21,OR6E-V896,KG-943,KW-724,Instituto Universitario de La Paz
83,95-VIVX,2019-05-23,DW1V-P808,WI-704,JG-818,American University of Afghanistan
84,67-HOUD,2020-02-18,LO4T-M300,NX-742,YT-531,Universidad Popular del Cesar
85,13-WKXE,2019-08-21,OR6E-V896,FO-623,JG-818,Metropolitan State University
86,48-VXAO,2021-09-16,LO4T-M300,TJ-663,YC-315,Music Academy in Bydgoszcz

## Violations

In [19]:
violations = pd.DataFrame(columns = ['UID', 'Type', 'Player', 'gameID'])

In [20]:
violations.head()

Empty DataFrame
Columns: [UID, Type, Player, gameID]
Index: []

In [21]:
players.columns

Index(['LicenseNumber', 'P_Name', 'Assists', 'P_Status', 'Goals',
       'ShotPercent', 'Nationality', 'Age', 'Cur_Team'],
      dtype='object')

In [22]:
violationType = ['Kicking', 'Tripping', 'Charging', 'Pushing', 'Tackling', 'Holding', 'Touching the Ball']

for i in range(367):
    uid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) 
    violation = random.choice(violationType)

    gid = random.choice(games['gameID'])
    tempTeam = random.choice(games[games['gameID'] == gid][['WinningTeam', 'Team2']].iloc[0].to_list())
    player = random.choice(players[players['Cur_Team'] == tempTeam]['LicenseNumber'].to_list())

    violations.loc[len(violations)] = [uid, violation, player, gid]

In [23]:
violations.head()

         UID               Type       Player   gameID
0  M1IQ-T2H4            Pushing  560-WX2-970  78-TJFG
1  6L24-XHGB  Touching the Ball  600-CX7-347  20-LJYK
2  UKS5-O9RD            Pushing  720-LV5-882  18-GHMU
3  UOWZ-6E5L            Holding  325-JO8-424  76-MCJC
4  9Q9R-MDF6           Charging  343-QY1-413  25-VTDW

## Contracts

In [24]:
contracts.columns

Index(['ContractID', 'Team', 'Person', 'ContractEnd', 'ContractStart',
       'Salary'],
      dtype='object')

In [25]:
contracts.head()

Empty DataFrame
Columns: [ContractID, Team, Person, ContractEnd, ContractStart, Salary]
Index: []

In [26]:
player_contracts = contracts
coach_contracts = contracts
manager_contracts = contracts

In [27]:
for index, row in players.iterrows():
    cid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.digits) for i in range(4))
    team = row['Cur_Team']
    person = row['LicenseNumber']

    dateStart = fake.date_between(end_date='today', start_date='-3y')
    dateEnd = fake.date_between(end_date='+3y', start_date='today')

    salary = random.randint(10000, 100000)    
    manager_contracts.loc[len(manager_contracts)] = [cid, team, person, dateEnd, dateStart, salary]

In [28]:
coaches.head()

  LicenseID First_Name   Last_Name  Active  WinPercent
0  JJJG-922    Carmine        Urry    True       35.64
1  KMHC-427       Juan      Tabard   False       82.11
2  BQJG-863   Veronica        Akam    True       68.75
3  LYXZ-176     Claire  Saltmarshe   False       82.21
4  XZVF-748      Byran        Dall    True        0.00

In [29]:
for index, row in coaches.iterrows():
    cid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.digits) for i in range(4))
    
    person = row['LicenseID']    
    if person in teams['Coach'].tolist():
        teamID = teams[teams['Coach'] == person]['UID'].tolist()[0]
        

        dateStart = fake.date_between(end_date='today', start_date='-3y')
        dateEnd = fake.date_between(end_date='+3y', start_date='today')

        salary = random.randint(10000, 100000)    
        coach_contracts.loc[len(coach_contracts)] = [cid, teamID, person, dateEnd, dateStart, salary]

In [30]:
for index, row in managers.iterrows():
    cid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.digits) for i in range(4))
    person = row['LicenseID']

    if person in teams['Manager'].tolist():
        teamID = teams[teams['Manager'] == row['LicenseID']]['UID'].tolist()[0]
        

        dateStart = fake.date_between(end_date='today', start_date='-3y')
        dateEnd = fake.date_between(end_date='+3y', start_date='today')

        salary = random.randint(10000, 100000)    
        manager_contracts.loc[len(manager_contracts)] = [cid, teamID, person, dateStart, dateEnd, salary]

In [31]:
contracts

    ContractID    Team       Person ContractEnd ContractStart  Salary
0    BFQ1-5110  KW-724  287-EG0-894  2023-08-13    2022-02-23   65108
1    5384-0436  WI-704  099-VZ2-928  2025-01-22    2021-08-21   16399
2    UDE7-4220  PY-241  537-OT1-130  2022-12-25    2019-06-11   40090
3    5HRJ-4521  FJ-273  938-II7-279  2024-07-13    2021-08-07   48760
4    CTMI-3128  WI-704  173-KS0-031  2022-12-28    2019-10-24   16072
..         ...     ...          ...         ...           ...     ...
531  HH6X-1359  QL-031     KPUV-949  2021-05-14    2024-05-10   90973
532  JH6N-3470  YZ-552     SGCJ-248  2022-01-10    2025-05-19   44677
533  PWZU-3156  FJ-273     HETH-998  2020-05-14    2022-12-31   38679
534  TL04-5130  TJ-663     UXWQ-236  2021-04-28    2024-01-21   23475
535  J7WX-8842  KW-724     OBWP-363  2021-04-17    2023-05-25   40169

[536 rows x 6 columns]

## Goals

In [32]:
goals = pd.DataFrame(columns = ['GID', 'Shooter', 'gameID'])

In [33]:
goals.columns

Index(['GID', 'Shooter', 'gameID'], dtype='object')

In [34]:
goals.head()

Empty DataFrame
Columns: [GID, Shooter, gameID]
Index: []

In [35]:
for index, row in players.iterrows():
    player = row['LicenseNumber']
    team1 = players[players['LicenseNumber'] == player]['Cur_Team'].tolist()[0]
    for i in range(row['Goals']):
        gid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) 

        gameid = random.choice(games[games['WinningTeam'] == team1]['gameID'].tolist())

        goals.loc[len(goals)] = [gid, player, gameid]

In [36]:
umpire.to_csv('../Data/umpire.csv', index=False)
violations.to_csv('../Data/violations.csv', index=False)
players.to_csv('../Data/players.csv', index=False)
goals.to_csv('../Data/goals.csv', index=False)
games.to_csv('../Data/games.csv', index=False)
coach_contracts.to_csv('../Data/coach_contracts.csv', index=False)
manager_contracts.to_csv('../Data/manager_contracts.csv', index=False)
player_contracts.to_csv('../Data/player_contracts.csv', index=False)
managers.to_csv('../Data/managers.csv', index=False)
teams.to_csv('../Data/teams.csv', index=False)
coaches.to_csv('../Data/coaches.csv', index=False)