In [73]:
import string 
import pandas as pd
import random
from faker import Faker

In [74]:
fake = Faker()

In [75]:
workbook = pd.ExcelFile('../Data/DBMS.xlsx')

In [76]:
workbook.sheet_names

['Umpire',
 'Violations',
 'Players',
 'Goals',
 'Contracts',
 'Managers',
 'Teams',
 'Coaches']

#Umpire
#Violations
#Players
Goals
Contracts
#Managers
#Teams
#Coaches

In [77]:
umpire = pd.read_excel(workbook, sheet_name='Umpire')
players = pd.read_excel(workbook, sheet_name='Players')
contracts = pd.read_excel(workbook, sheet_name='Contracts')
managers = pd.read_excel(workbook, sheet_name='Managers')
teams = pd.read_excel(workbook, sheet_name='Teams')
coaches = pd.read_excel(workbook, sheet_name='Coaches')

In [78]:
umpire.columns

Index(['LicenseNumber', 'First_Name', 'Last_Name'], dtype='object')

In [79]:
players.columns

Index(['LicenseNumber', 'P_Name', 'Assists', 'P_Status', 'Goals',
       'ShotPercent', 'Nationality', 'Age'],
      dtype='object')

## Team

In [80]:
coaches.head()

  LicenseID First_Name   Last_Name  Active  WinPercent
0  JJJG-922    Carmine        Urry    True       35.64
1  KMHC-427       Juan      Tabard   False       82.11
2  BQJG-863   Veronica        Akam    True       68.75
3  LYXZ-176     Claire  Saltmarshe   False       82.21
4  XZVF-748      Byran        Dall    True        0.00

In [81]:
managers.head()

  LicenseID First_Name   Last_Name  Active  WinPercent
0  JZJP-101      Milka     Lilburn   False        0.00
1  NVWZ-929  Llewellyn  MacCaffery    True       31.61
2  VELB-451     Babita     Thorsen    True        0.00
3  GOSC-513       Evan      Samper    True        8.63
4  AIRM-084   Claudina    Huntriss    True        7.09

In [82]:
teams.columns

Index(['UID', 'T_Name', 'NumPlayed', 'NumWon', 'Home', 'Manager', 'Coach'], dtype='object')

In [83]:
managerID = random.sample(managers[managers['Active'] == True]['LicenseID'].tolist(), len(teams))
teams['Manager'] = managerID

coachID = random.sample(coaches[coaches['Active'] == True]['LicenseID'].tolist(), len(teams))
teams['Coach'] = coachID

In [84]:
teams

,UID,T_Name,NumPlayed,NumWon,Home,Manager,Coach
0,TJ-663,Tempsoft,65,58,Agricultural University of Szczecin,NOLV-864,DJNT-962
1,JG-818,Gembucket,67,50,Marquette University,XZCY-912,JWNX-275
2,YT-531,Holdlamis,50,48,COSMIQ Institute of Technology,UIJY-863,XIEA-809
3,KG-943,Bigtax,67,59,Instituto Universitario de La Paz,GFRP-361,SQUB-386
4,FJ-273,Gembucket,64,45,Universidad de Córdoba,OBWP-363,JJJG-922
5,PY-241,Bitwolf,76,62,Universidad de Valladolid,KPUV-949,SPGV-738
6,NX-742,Mat Lam Tam,56,48,Universidad Popular del Cesar,SGCJ-248,HTSR-062
7,FO-623,Tresom,71,49,Metropolitan State University,VELB-451,KIBS-870
8,ZK-987,Greenlam,65,45,Ferdowsi University of Mashhad,NVWZ-929,BLHU-754
9,OF-955,Otcom,65,45,"Heythrop College, University of London",SSYW-096,IGWI-431
10,EZ-769,Stronghold,57,53,Hiram College,GOSC-513,RRQV-282
11,WI-704,Konklab,59,49,American University of Afghanistan,IZHQ-092,NBQB-042
12,KW-724,Fix San,59,57,Atish Dipankar University,VHIR-010,XZVF-748
13,PN-497,Daltfresh,57,51,Université des Sciences et de la Technologie d...,RJBZ-784,ZUKH-521
14,YC-315,Span,54,37,Music Academy in Bydgoszcz,BPQK-308,SEZD-480
15,YZ-552,Voyatouch,63,54,Islamic Azad University Qazvin,AIRM-084,NAAJ-455
16,QL-031,Tresom,62,55,Technical University of Bialystok,UXWQ-236,CVHA-420
17,RJ-217,Zontrax,77,49,New England Institute of Technology,HETH-998,AEUN-603

## Player

In [85]:
players.columns

Index(['LicenseNumber', 'P_Name', 'Assists', 'P_Status', 'Goals',
       'ShotPercent', 'Nationality', 'Age'],
      dtype='object')

In [86]:
players.head()

,LicenseNumber,P_Name,Assists,P_Status,Goals,ShotPercent,Nationality,Age
0,287-EG0-894,Mufi Jaeggi,20,True,28,0.64,Israel,23
1,099-VZ2-928,Leonie Addyman,15,False,16,0.98,United States,22
2,537-OT1-130,Urson Scrine,32,True,22,0.59,Egypt,20
3,938-II7-279,Filberto Molian,21,True,10,0.85,Ireland,21
4,173-KS0-031,Donal Wyvill,27,False,39,0.07,Pakistan,21

In [87]:
teamID = random.choices(teams['UID'].tolist(), k = len(players))
players['Cur_Team'] = teamID

In [88]:
players.head()

,LicenseNumber,P_Name,Assists,P_Status,Goals,ShotPercent,Nationality,Age,Cur_Team
0,287-EG0-894,Mufi Jaeggi,20,True,28,0.64,Israel,23,EZ-769
1,099-VZ2-928,Leonie Addyman,15,False,16,0.98,United States,22,YT-531
2,537-OT1-130,Urson Scrine,32,True,22,0.59,Egypt,20,OF-955
3,938-II7-279,Filberto Molian,21,True,10,0.85,Ireland,21,WI-704
4,173-KS0-031,Donal Wyvill,27,False,39,0.07,Pakistan,21,YT-531

## Games

In [89]:
games = pd.DataFrame(columns = ['gameID', 'Date', 'Ump_License', 'WinningTeam', 'Team2', 'Field'])

for i in range(87):
    gid = ''.join(random.choice(string.digits) for i in range(2)) + '-' + ''.join(random.choice(string.ascii_uppercase) for i in range(4))
    date = fake.date_between(end_date='today', start_date='-3y')
    ump = random.choice(umpire['LicenseNumber'])
    [team1, team2] = random.choices(teams['UID'], k = 2)
    field = random.choice([teams[teams['UID'] == team1]['Home'].to_list()[0], teams[teams['UID'] == team2]['Home'].to_list()[0]])
    games.loc[len(games)] = [gid, date, ump, team1, team2, field]

In [90]:
games

,gameID,Date,Ump_License,WinningTeam,Team2,Field
0,36-CBMY,2020-02-17,FH2Y-R826,ZK-987,TJ-663,Ferdowsi University of Mashhad
1,82-OHCX,2019-12-31,RD7V-F959,QL-031,FJ-273,Technical University of Bialystok
2,73-XJJP,2020-11-06,DW1V-P808,TJ-663,PY-241,Universidad de Valladolid
3,53-DBWX,2020-11-27,XE8G-R675,NX-742,FO-623,Metropolitan State University
4,78-ZJPC,2019-11-16,OR6E-V896,YT-531,WI-704,COSMIQ Institute of Technology
...,...,...,...,...,...,...
82,76-JWMY,2020-07-03,OR6E-V896,NX-742,RJ-217,New England Institute of Technology
83,62-HHIV,2020-09-04,RD7V-F959,NX-742,KW-724,Atish Dipankar University
84,48-ZYPV,2021-09-28,RD7V-F959,PN-497,FJ-273,Université des Sciences et de la Technologie d...
85,29-RVOE,2021-08-08,UL2I-Q791,PN-497,TJ-663,Agricultural University of Szczecin
86,90-UQXN,2020-01-02,OR6E-V896,YZ-552,KG-943,Islamic Azad University Qazvin

## Violations

In [91]:
violations = pd.DataFrame(columns = ['UID', 'Type', 'Player', 'gameID'])

In [92]:
violations.head()

Empty DataFrame
Columns: [UID, Type, Player, gameID]
Index: []

In [93]:
players.columns

Index(['LicenseNumber', 'P_Name', 'Assists', 'P_Status', 'Goals',
       'ShotPercent', 'Nationality', 'Age', 'Cur_Team'],
      dtype='object')

In [94]:
violationType = ['Kicking', 'Tripping', 'Charging', 'Pushing', 'Tackling', 'Holding', 'Touching the Ball']

for i in range(367):
    uid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) 
    violation = random.choice(violationType)

    gid = random.choice(games['gameID'])
    tempTeam = random.choice(games[games['gameID'] == gid][['WinningTeam', 'Team2']].iloc[0].to_list())
    player = random.choice(players[players['Cur_Team'] == tempTeam]['LicenseNumber'].to_list())

    violations.loc[len(violations)] = [uid, violation, player, gid]

In [95]:
violations.head()

         UID      Type       Player   gameID
0  JERW-EHGL  Charging  168-PW3-948  05-ONPE
1  QSLL-AOLL  Tackling  363-TK0-866  97-TFCQ
2  SCY5-FHLD  Charging  684-MS1-464  20-BZBL
3  GFUJ-MD00   Holding  969-JJ9-407  73-XJJP
4  9MTR-PE8I   Pushing  872-RX5-279  87-BLBU

## Contracts

In [96]:
contracts.columns

Index(['ContractID', 'Team', 'Person', 'ContractEnd', 'ContractStart',
       'Salary'],
      dtype='object')

In [97]:
contracts.head()

Empty DataFrame
Columns: [ContractID, Team, Person, ContractEnd, ContractStart, Salary]
Index: []

In [98]:
player_contracts = contracts.copy()
coach_contracts = contracts.copy()
manager_contracts = contracts.copy()

In [99]:
for index, row in players.iterrows():
    cid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.digits) for i in range(4))
    team = row['Cur_Team']
    person = row['LicenseNumber']

    dateStart = fake.date_between(end_date='today', start_date='-3y')
    dateEnd = fake.date_between(end_date='+3y', start_date='today')

    salary = random.randint(10000, 100000)    
    player_contracts.loc[len(player_contracts)] = [cid, team, person, dateEnd, dateStart, salary]

In [100]:
coaches.head()

  LicenseID First_Name   Last_Name  Active  WinPercent
0  JJJG-922    Carmine        Urry    True       35.64
1  KMHC-427       Juan      Tabard   False       82.11
2  BQJG-863   Veronica        Akam    True       68.75
3  LYXZ-176     Claire  Saltmarshe   False       82.21
4  XZVF-748      Byran        Dall    True        0.00

In [101]:
for index, row in coaches.iterrows():
    cid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.digits) for i in range(4))
    
    person = row['LicenseID']    
    if person in teams['Coach'].tolist():
        teamID = teams[teams['Coach'] == person]['UID'].tolist()[0]
        print(person)

        dateStart = fake.date_between(end_date='today', start_date='-3y')
        dateEnd = fake.date_between(end_date='+3y', start_date='today')

        salary = random.randint(10000, 100000)    
        coach_contracts.loc[len(coach_contracts)] = [cid, teamID, person, dateEnd, dateStart, salary]

JJJG-922
XZVF-748
SQUB-386
SEZD-480
IGWI-431
BLHU-754
AEUN-603
NBQB-042
SPGV-738
CVHA-420
RRQV-282
ZUKH-521
KIBS-870
DJNT-962
HTSR-062
XIEA-809
JWNX-275
NAAJ-455

In [102]:
for index, row in managers.iterrows():
    cid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.digits) for i in range(4))
    person = row['LicenseID']

    if person in teams['Manager'].tolist():
        teamID = teams[teams['Manager'] == row['LicenseID']]['UID'].tolist()[0]
        

        dateStart = fake.date_between(end_date='today', start_date='-3y')
        dateEnd = fake.date_between(end_date='+3y', start_date='today')

        salary = random.randint(10000, 100000)    
        manager_contracts.loc[len(manager_contracts)] = [cid, teamID, person, dateStart, dateEnd, salary]

In [103]:
contracts

Empty DataFrame
Columns: [ContractID, Team, Person, ContractEnd, ContractStart, Salary]
Index: []

## Goals

In [104]:
goals = pd.DataFrame(columns = ['GID', 'Shooter', 'gameID'])

In [105]:
goals.columns

Index(['GID', 'Shooter', 'gameID'], dtype='object')

In [106]:
goals.head()

Empty DataFrame
Columns: [GID, Shooter, gameID]
Index: []

In [107]:
for index, row in players.iterrows():
    player = row['LicenseNumber']
    team1 = players[players['LicenseNumber'] == player]['Cur_Team'].tolist()[0]
    for i in range(row['Goals']):
        gid = ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) + '-' + ''.join(random.choice(string.ascii_uppercase + string.digits) for i in range(4)) 

        gameid = random.choice(games[games['WinningTeam'] == team1]['gameID'].tolist())

        goals.loc[len(goals)] = [gid, player, gameid]

In [108]:
umpire.to_csv('../Data/umpire.csv', index=False)
violations.to_csv('../Data/violations.csv', index=False)
players.to_csv('../Data/players.csv', index=False)
goals.to_csv('../Data/goals.csv', index=False)
games.to_csv('../Data/games.csv', index=False)
coach_contracts.to_csv('../Data/coach_contracts.csv', index=False)
manager_contracts.to_csv('../Data/manager_contracts.csv', index=False)
player_contracts.to_csv('../Data/player_contracts.csv', index=False)
managers.to_csv('../Data/managers.csv', index=False)
teams.to_csv('../Data/teams.csv', index=False)
coaches.to_csv('../Data/coaches.csv', index=False)