In [1]:
import string 
import pandas as pd
import random
from faker import Faker

In [2]:
fake = Faker()

In [3]:
workbook = pd.ExcelFile('../Data/DBMS.xlsx')

In [4]:
workbook.sheet_names

['Umpire',
 'Violations',
 'Players',
 'Goals',
 'Contracts',
 'Managers',
 'Teams',
 'Coaches']

In [5]:
umpire = pd.read_excel(workbook, sheet_name='Umpire')
violations = pd.read_excel(workbook, sheet_name='Violations')
players = pd.read_excel(workbook, sheet_name='Players')
goals = pd.read_excel(workbook, sheet_name='Goals')
contracts = pd.read_excel(workbook, sheet_name='Contracts')
managers = pd.read_excel(workbook, sheet_name='Managers')
teams = pd.read_excel(workbook, sheet_name='Teams')
coaches = pd.read_excel(workbook, sheet_name='Coaches')

In [6]:
umpire.columns

Index(['LicenseNumber', 'First_Name', 'Last_Name'], dtype='object')

In [7]:
players.columns

Index(['LicenseNumber', 'P_Name', 'Assists', 'P_Status', 'Goals',
       'ShotPercent', 'Nationality', 'Age'],
      dtype='object')

## Team

In [11]:
coaches.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,LicenseID,First_Name,Last_Name,Active,WinPercent
0,NaN,NaN,NaN,NaN,NaN,NaN,JJJG-922,Carmine,Urry,True,35.64
1,NaN,NaN,NaN,NaN,NaN,NaN,KMHC-427,Juan,Tabard,False,82.11
2,NaN,NaN,NaN,NaN,NaN,NaN,BQJG-863,Veronica,Akam,True,68.75
3,NaN,NaN,NaN,NaN,NaN,NaN,LYXZ-176,Claire,Saltmarshe,False,82.21
4,NaN,NaN,NaN,NaN,NaN,NaN,XZVF-748,Byran,Dall,True,0.00

In [20]:
managerID = random.sample(managers[managers['Active'] == True]['ManagerID'].tolist(), len(teams))
teams['Manager'] = managerID

umpireID = random.sample(umpire['LicenseID'].tolist(), len(teams))
teams['Manager'] = managerID

,UID,T_Name,NumPlayed,NumWon,Home,Manager,Coach
0,J-663,Tempsoft,65,58,Agricultural University of Szczecin,NaN,NaN
1,JG-818,Gembucket,67,50,Marquette University,NaN,NaN
2,YT-531,Holdlamis,50,48,COSMIQ Institute of Technology,NaN,NaN
3,KG-943,Bigtax,67,59,Instituto Universitario de La Paz,NaN,NaN
4,FJ-273,Gembucket,64,45,Universidad de CÃ³rdoba,NaN,NaN

## Player

## Violations

In [10]:
violations.columns

Index(['UID', 'Date', 'Type', 'Ump_License', 'Player', 'Team1', 'Team2'], dtype='object')

In [ ]:
violationType = ['Kicking', 'Tripping', 'Charging', 'Pushing', 'Tackling', 'Holding', 'Touching the Ball']

for i in range(367):
    uid = ''.join(random.choice(string.ascii_letters + string.digits + string.punctuation) for i in range(8))
    date = fake.date_between(end_date='today', start_date='-3y')
    violation = random.choice(violationType)
    ump = random.choice(umpire['LicenseNumber'])
    player = random.choice(players['LicenseNumber'])


    violations.loc[len(violations)] = [uid, ]